<div class="card mb-3 text-center d-flex justify-content-center" style="max-width: 540px;">
  <div class="row g-0 text-center">
    <div class="col-md-4">
      <img src="<%= @user.photo %>" class="img-fluid rounded-start" alt="profile">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= @user.name %></h4>
        <p class="card-text"><h6>Number of posts: <%= @user.posts_counter %></h6></p>
      </div>
    </div>
  </div>
</div>

 <%= link_to "Add New Post", new_user_post_path(user_id: @user.id), class:"btn btn-primary my-3" %>

  <h4>Posts</h4>
<h1 class='text-center mt-4'>All posts</h1>
<% @posts.each do |post| %>
<%= link_to user_post_path(user_id: @user.id, id: post.id), class:"nav-link mt-4 d-flex justify-content-center" do %>
<div class="card mb-3 text-center" style="max-width: 540px;">
  <div class="row g-0 text-center">
    <div class="col-md-8">
      <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
        <h5 class="card-title"><%= post.text %></h5>
        <p class="card-text"><span>Comments: <%= post.comments_counter %></span></p>
      </div>
    </div>
        <% end %>
    <h6>Recent Comments</h6>
    <% if post.recent_comments.empty? %>
     <div class="card mb-3 border-secondary" style="width: 540px;">
       <div class="card-body">
            <p class="card-text">No Comments</p>
          </div>
        </div>
 <% else %>
     <div class="card mb-3 border-secondary" style="width: 540px;">
          <div class="card-body">
            <% post.recent_comments.each do |comment| %>
              <p class="card-text"><%= comment.author.name %>: <%= comment.text %></p>
              <% end %>
          </div>
      </div>
   

 <% end %>
 <% end %>

 <%== pagy_nav(@pagy) %>